body {
  font-family: "Rubik", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  padding: 10px 20px 0px 0px;
  margin: 0px;
}

li {
  list-style: none;
  font-size: 16px;
  text-align: left;
}

.weather-app {
  margin: 20px auto 10px;
  border: solid #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  box-shadow: 32px 33px 23px -16px rgba(0, 0, 0, 0.25);
}

.description {
  padding: 0px;

  text-transform: capitalize;
}

.main-temp {
  font-size: 60px;
  position: relative;
  top: 15px;
  font-weight: 400;
}

.units {
  position: relative;
  bottom: 15px;
}

.more-info {
  padding: 20px 5px;
  margin: 10px 0px;
}

.date {
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
  list-style: 50px;
}
.reference {
  text-align: center;
  font-size: 10px;
}
a.active {
  color: #000;
  text-decoration: none;
  cursor: default;
}
